---
layout: page
title: "Projects"
permalink: /projects/
---
<section class="project-intro editable">
  <p></p>
</section>

{% assign projects = site.projects | where: "list",true | sort: "project_date" %}

{% if projects %}
<section class="project-list">

  {% for project in projects reversed %}
  <section class="project">
    <a href="{{project.url}}">
      <h3 class="project-header">{{project.title}}</h3>
      <div class="project-date">{% include dates.html from=project.project_date to=project.project_to_date %}</div>
      <div class="project-image">
        {% if project.main_image_path %}
        {% include img.html src=project.main_image_path width=400 height=300 %}
        {% else %}
        {% include img.html src="/siteicon.png" width=400 height=300 %}
        {% endif %}
      </div>
      <div class="project-description">
        {{project.description}}
      </div>
    </a>
  </section>
  {% endfor %}
</section>
{% endif %}
