---
layout: page
title: "Projects"
permalink: /projects/
---
<section class="project-intro editable">
  <p></p>
</section>

{% assign projects = site.projects | where: "list",true | sort: "project_date" %}

{% if projects %}
<section class="project-list">

  {% for project in projects reversed %}
  <section class="project">
    <a href="{{project.url}}">
      <h3 class="project-header">{{project.title}}</h3>
      {% if project.main_image_path %}
      <div class="project-image">
        {% include img.html src=project.main_image_path width=360 height=180 %}
      </div>
      {% endif %}
      <div class="project-info">{% include dates.html from=project.project_date to=project.project_to_date %}
        {% if project.project_venue %}<br>{{ project.project_venue }}{% endif %}</div>
      <div class="project-description">
        {{project.description}}
      </div>
    </a>
  </section>
  {% endfor %}
</section>
{% endif %}
