
/*
 * Projects page
 */
.project {
    clear: both;
    margin-bottom: 3em;
    a {
        display: block;
        @include clearfix;
        padding: 1em;
        transition: background-color 0.5s ease;
        color: $base-font-color;
        &:hover, &:focus {
            color: $base-font-color;
            text-decoration: none;
            background-color: tint($action-color, 80%);
        }
    }
    h3 {
        margin-bottom: 0;
    }
    .project-date {
        font-family: $heading-font-family;
        text-transform: uppercase;
        color: $medium-gray;
    }
    .project-image {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    img {
        border-radius: 5px;
        height: auto;
        box-shadow: 5px 5px 5px $light-gray;
        max-width: 100%;
    }
    .project-description {
    }
    @include media($mobile) {
        .project-image {
            clear: both;
            float: right;
            width: 40%;
            line-height: 300px;
            text-align: right;
        }

        img {
            margin: 0;
            display: inline;
            vertical-align: middle;
        }

        h3 {
            float: left;
            width: 75%;
        }

        .project-date {
            padding-bottom: 1em;
            float: right;
            line-height: 1.8em;
            text-align: right;
            width: 25%;
        }
        .project-description {
            padding: 20px;
            padding-left: 0;
            font-size: 1.2em;
            float: right;
            width: 60%;
            box-sizing: border-box;
        }
    }
}

/*
 * Individual project pages
 */
.projects {
    iframe {
        max-width: 100%;
    }
    .media {
        .image-gallery {
            img {
                border-radius: 5px;
                box-shadow: 5px 5px 5px $light-gray;
                float: left;
                margin: 5px;
                transition: box-shadow 0.5s ease;
            }
            a:hover img, a:focus img {
                box-shadow: 5px 5px 5px $highlight-color;
            }
        }
    }
    @include media($tablet) {
        #content {
            @include clearfix;
        }

        .with-media {
            box-sizing: border-box;
            width: 50%;
            float: left;
            padding-right: 20px;
        }

        .media {
            box-sizing: border-box;
            width: 50%;
            float: right;
        }

    }
}



